body,html {
    width: 600px;
    max-width:100%;
    height: 100vh;
    margin: 0 auto;
    overflow:hidden;
}
#wrap {
    position:relative;

}
#dressed {
    position: absolute;
    top: 0;
    left: 0;
}
#naked {
    border-radius: 50%;
    border: 4px solid #3c3c3c;
    position: absolute;
    top: 0;
    left:0;
    width: 240px;
    height: 240px;
}
footer {
    position:fixed;
    bottom: 0;
    right:0;
    background:#fff;
    font-weight: bold;
    padding: 0 2em;
}
.ruby {
    position:relative;
    top:-1em;
    left: -5em;
    font-size: small;
}
